<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados animal</title>
    <%- include('layout/head'); %>
</head>
    <body>
        <%- include('layout/menu'); %>
        <br>
        <div id="d6" class="container" >
            <% function formatarTelefone(numero) {
                let numeroLocal = numero.substring(2);
                let ddd = numeroLocal.substring(0, 2);
                let telefone = numeroLocal.substring(2);
                return `(${ddd}) ${telefone.substring(0, 5)}-${telefone.substring(5)}`;
            } %>
            <%informacoes.forEach(function(dados) { %>
                <div>
                    <div>
                        <img src="/images/logo.png" width="230px" style="float: right;">  
                        <div style="text-align: center; background-color: black; color: white; border-radius: 5px 5px 0 0; box-shadow: 0 0 2px black; border: 2px solid black; width: 250px;">ADOTAR</div>
                        <img id="animal" src="/animais/<%= dados.foto %>" width="250px" height="250px">
                        <div style="float: right;">
                            </div>
                            <div style="width: 23%; height: 10%;">
                                <br>
                                <h4><%= dados.nome %></h4>
                                <hr width="90%">
                                <span style="text-align: justify"><%= dados.caracteristicas %></span>
                            </div>
                    </div>
                </div>
                <br>
                <br>
                <div style="display: flex; gap: 15%;">
                <article style="margin-top: 2%;">
                    <h5><i class="material-icons">description</i> Informações Básicas</h5>
                    <hr>
                    <strong>Estado - </strong> <%= dados.estado %>
                    <br>
                    <strong>Cidade - </strong> <%= dados.cidade %>
                    <br>
                    <strong>Nome - </strong> <%= dados.nome %>
                    <br>
                    <strong>Especie - </strong> <%= dados.especie %>
                    <br>
                    <strong>Raça - </strong> <%= dados.raca %>
                    <br>
                    <strong>Sexo - </strong> <%= dados.sexo %>
                    <br>
                </article>
                <article style="margin-top: 2%;">
                    <h5><i class="material-icons">account_box</i> Informações Anunciante</h5>
                    <hr>
                    <strong>Nome - </strong> <%= dados.anunciante_nome %>
                    <br>
                    <strong>E-mail - </strong> <%= dados.anunciante_email %>
                    <br>
                    <strong>Telefone - </strong> <%= formatarTelefone(dados.anunciante_tel) %>
                    <br>
                    <a href="https://api.whatsapp.com/send?phone=<%=dados.anunciante_tel %>" class="btn"><div style="box-shadow: 0 0 2px rgb(221, 221, 221); border: solid 1px rgb(221, 221, 221); width: 195px; border-radius: 7px; vertical-align: text-bottom;"><img src="/images/message.png" width="30px">&nbsp;&nbsp;Entrar em contato</a></div>
                </article>
                </div>
            <% }) %>
        </div>
        <%- include('layout/footer'); %>
    </body>
</html>