<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Animal</title>
    <%- include('layout/head'); %>
</head>

<body>
    <%- include('layout/menu'); %>
        <br>
        <br>
        <div class="container">
            <div class="container">
                <div class="card" style="border-radius: 10px;">
                    <div class="container" >
                        <br>
                        <%dadosAnimal.forEach(function(dados) { %>
                            <div class="d-flex align-items-center">
                                <img style="border: solid 1px black;" src="/animais/<%= dados.foto %>" width="100px" class="rounded-circle" >&nbsp;&nbsp;&nbsp;<h4 class="ml-2">Editar <%= dados.nome %></h4>
                            </div>
                            <br>
                            <form method="post" action="/alterar_adocao" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <input type="hidden" name="id" value="<%= dados.id %>">
                                    <label for="name" class="form-label">
                                        <h6>Nome</h6>
                                    </label>
                                    <input value="<%= dados.nome %>" maxlength="40" name="nome" required type="text"
                                        class="form-control" id="name" aria-describedby="nameHelp">
                                    <div id="NameHelp" class="form-text">Informe o nome do animal.</div>
                                </div>
                                <div class="mb-3">
                                    <label for="especie" class="form-label">
                                        <h6>Espécie</h6>
                                    </label>
                                    <select name="especie" id="especie" class="form-select" aria-label="Default select example" aria-describedby="especieHelp">
                                        <option value="Cachorro" <%= dados.especie === 'Cachorro' ? 'selected' : '' %>>Cachorro</option>
                                        <option value="Gato" <%= dados.especie === 'Gato' ? 'selected' : '' %>>Gato</option>
                                    </select>
                                    <div id="especieHelp" class="form-text">Informe a espécie do animal.</div>
                                </div>
                                <div class="mb-3">
                                    <label for="raca" class="form-label">
                                        <h6>Raça</h6>
                                    </label>
                                    <select name="raca" id="raca" class="form-select" aria-label="Default select example" aria-describedby="racaHelp">
                                        
                                    </select>
                                    <div id="racaHelp" class="form-text">Informe a raça do animal.</div>
                                </div>
                                <div class="mb-3">
                                    <label for="sexo" class="form-label">
                                        <h6>Sexo</h6>
                                    </label>
                                    <select name="sexo" id="sexo" class="form-select"
                                        aria-label="Default select example" aria-describedby="sexoHelp">
                                        <option value="Macho" <%= dados.sexo === 'Macho' ? 'selected' : '' %>>Macho</option>
                                        <option value="Fêmea" <%= dados.sexo === 'Fêmea' ? 'selected' : '' %>>Fêmea</option>
                                    </select>
                                    <div id="sexoHelp" class="form-text">Informe o sexo do animal.</div>
                                </div>
                                <div class="mb-3">
                                    <label for="porte" class="form-label"><h6>Porte</h6></label>
                                    <select name="porte" id="porte" class="form-select" aria-label="Default select example" aria-describedby="porteHelp">
                                        <option value="Pequeno" <%= dados.porte === 'Pequeno' ? 'selected' : '' %>>Pequeno</option>
                                        <option value="Médio" <%= dados.porte === 'Médio' ? 'selected' : '' %>>Médio</option>
                                        <option value="Grande" <%= dados.porte === 'Grande' ? 'selected' : '' %>>Grande</option>
                                        <option value="Gigante" <%= dados.porte === 'Gigante' ? 'selected' : '' %>>Gigante</option>
                                    </select>
                                    <div id="porteHelp" class="form-text">Informe o porte do animal.</div>
                                </div>
                                <div class="mb-3">
                                    <label for="peso" class="form-label">
                                        <h6>Peso</h6>
                                    </label>
                                    <input value="<%= dados.peso %>" name="peso" required type="number" class="form-control" step="0.001" min="0.100" max="150" id="peso" aria-describedby="pesoHelp">
                                    <div id="pesoHelp" class="form-text">Informe o peso do animal.</div>
                                </div>
                                <div class="mb-3">
                                    <label for="estado" class="form-label"><h6>Estado</h6></label>
                                    <select required name="estado" id="estado" class="form-select" aria-label="Default select example" aria-describedby="estadoHelp">
                                        <option value="">Selecione o estado</option>
                                        <option value="AC" <%= dados.estado === 'AC' ? 'selected' : '' %>>Acre</option>
                                        <option value="AL" <%= dados.estado === 'AL' ? 'selected' : '' %>>Alagoas</option>
                                        <option value="AP" <%= dados.estado === 'AP' ? 'selected' : '' %>>Amapá</option>
                                        <option value="AM" <%= dados.estado === 'AM' ? 'selected' : '' %>>Amazonas</option>
                                        <option value="BA" <%= dados.estado === 'BA' ? 'selected' : '' %>>Bahia</option>
                                        <option value="CE" <%= dados.estado === 'CE' ? 'selected' : '' %>>Ceará</option>
                                        <option value="DF" <%= dados.estado === 'DF' ? 'selected' : '' %>>Distrito Federal</option>
                                        <option value="ES" <%= dados.estado === 'ES' ? 'selected' : '' %>>Espírito Santo</option>
                                        <option value="GO" <%= dados.estado === 'GO' ? 'selected' : '' %>>Goiás</option>
                                        <option value="MA" <%= dados.estado === 'MA' ? 'selected' : '' %>>Maranhão</option>
                                        <option value="MT" <%= dados.estado === 'MT' ? 'selected' : '' %>>Mato Grosso</option>
                                        <option value="MS" <%= dados.estado === 'MS' ? 'selected' : '' %>>Mato Grosso do Sul</option>
                                        <option value="MG" <%= dados.estado === 'MG' ? 'selected' : '' %>>Minas Gerais</option>
                                        <option value="PA" <%= dados.estado === 'PA' ? 'selected' : '' %>>Pará</option>
                                        <option value="PB" <%= dados.estado === 'PB' ? 'selected' : '' %>>Paraíba</option>
                                        <option value="PR" <%= dados.estado === 'PR' ? 'selected' : '' %>>Paraná</option>
                                        <option value="PE" <%= dados.estado === 'PE' ? 'selected' : '' %>>Pernambuco</option>
                                        <option value="PI" <%= dados.estado === 'PI' ? 'selected' : '' %>>Piauí</option>
                                        <option value="RJ" <%= dados.estado === 'RJ' ? 'selected' : '' %>>Rio de Janeiro</option>
                                        <option value="RN" <%= dados.estado === 'RN' ? 'selected' : '' %>>Rio Grande do Norte</option>
                                        <option value="RS" <%= dados.estado === 'RS' ? 'selected' : '' %>>Rio Grande do Sul</option>
                                        <option value="RO" <%= dados.estado === 'RO' ? 'selected' : '' %>>Rondônia</option>
                                        <option value="RR" <%= dados.estado === 'RR' ? 'selected' : '' %>>Roraima</option>
                                        <option value="SC" <%= dados.estado === 'SC' ? 'selected' : '' %>>Santa Catarina</option>
                                        <option value="SP" <%= dados.estado === 'SP' ? 'selected' : '' %>>São Paulo</option>
                                        <option value="SE" <%= dados.estado === 'SE' ? 'selected' : '' %>>Sergipe</option>
                                        <option value="TO" <%= dados.estado === 'TO' ? 'selected' : '' %>>Tocantins</option>
                                      </select>
                                    <div id="estadoHelp" class="form-text">Informe o estado onde o animal está localizado.</div>
                                  </div>
                                  <div class="mb-3">
                                    <label for="cidade" class="form-label"><h6>Cidade</h6></label>
                                    <select required name="cidade" id="cidade" class="form-select" aria-label="Default select example" aria-describedby="cidadeHelp">
                                      <option value="">Selecione a cidade</option>
                                    </select>
                                    <div id="cidadeHelp" class="form-text">Informe a cidade onde o animal está localizado.</div>
                                  </div>
        
                                <div class="mb-3">
                                    <label for="textarea" class="form-label">
                                        <h6>Personalidade</h6>
                                    </label>
                                    <textarea name="personalidade" maxlength="255" class="form-control" id="textarea"
                                        rows="2"><%=dados.caracteristicas %></textarea>
                                    <div id="personalidadeHelp" class="form-text">Fale sobre a personalidade do animal.
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="formFile" class="form-label">
                                        <h6>Foto do animal</h6>
                                    </label>
                                    <input name="foto" class="form-control" type="file" id="formFile">
                                    <div id="fotoHelp" class="form-text">Envie uma foto se desejar.</div>
                                </div>
                                <br>
                                <button type="submit" class="btn btn-dark">Editar</button>
                            </form>
                            
                            <br>
                    </div>
                </div>
            </div>
        </div>
        <%- include("layout/footer"); %>
            <script>
                const especieSelect = document.getElementById('especie');
                const racaSelect = document.getElementById('raca');

                const racaSelecionada = "<%= dados.raca %>";

                const racasPorEspecie = {
                    Cachorro: [
                        "SRD (Sem Raça Definida)",
                        "Vira-lata",
                        "American Staffordshire Terrier",
                        "American Bully",
                        "Akita",
                        "Braco alemão de pelo duro",
                        "Boiadeiro Australiano",
                        "Boiadeiro da Flandres",
                        "Boiadeiro de Berna",
                        "Bichon havanês",
                        "Basset Hound",
                        "Bichon Frisé",
                        "Boston Terrier",
                        "Border Collie",
                        "Bulmastife",
                        "Boxer",
                        "Bulldog Americano",
                        "Bulldog Francês",
                        "Bulldog Inglês",
                        "Bull Terrier",
                        "Cavalier King Charles Spaniel",
                        "Cão de montanha dos Pirenéus",
                        "Cão-islandês-de-pastoreio",
                        "Cocker Spaniel Inglês",
                        "Cão-de-santo-humberto",
                        "Cairn terrier",
                        "Cane corso",
                        "Chihuahua",
                        "Chow Chow",
                        "Collie",
                        "Dogue-de-bordéus",
                        "Dogue alemão",
                        "Dachshund",
                        "Dálmata",
                        "Doberman",
                        "Flat-coated retriever",
                        "Foxhound-inglês",
                        "Grande boiadeiro suíço",
                        "Glen of imaal terrier",
                        "Golden Retriever",
                        "Griffon de Bruxelas",
                        "Husky Siberiano",
                        "Jack Russell Terrier",
                        "Kerry Blue Terrier",
                        "Labrador Retriever",
                        "Lulu da Pomerânia",
                        "Lhasa Apso",
                        "Leonberger",
                        "Maltês",
                        "Pastor-polonês-da-planície",
                        "Pastor-australiano",
                        "Pastor de Shetland",
                        "Pinscher alemão",
                        "Pastor Húngaro",
                        "Pointer inglês",
                        "Pastor Alemão",
                        "Pinscher",
                        "Poodle",
                        "Pit Bull",
                        "Pug",
                        "Rottweiler",
                        "Staffordshire Bull Terrier",
                        "Setter irlandês",
                        "Spaniel japonês",
                        "Spaniel bretão",
                        "Setter gordon",
                        "Silky terrier",
                        "São-bernardo",
                        "Schnauzer",
                        "Shih Tzu",
                        "Shar-pei",
                        "Terrier irlandês",
                        "Yorkshire",
                    ],
                    Gato:[
                    "SRD (Sem Raça Definida)",
                    "Siamês",
                    "Persa",
                    "Maine Coon",
                    "Ragdoll",
                    "Sphynx",
                    "Angorá Turco",
                    "Burmês",
                    "British Shorthair",
                    "Abyssinian",
                    "Chartreux",
                    "Himalaio",
                    "Exótico de Pelo Curto",
                    "Bengal",
                    "Norueguês da Floresta",
                    "Rex Cornish",
                    "Bombay",
                    "Munchkin",
                    "Devon Rex",
                    "Siberiano"
                    ]
                };

                function atualizarRacas() {
                    racaSelect.innerHTML = '';

                    const especieSelecionada = especieSelect.value;

                    const racas = racasPorEspecie[especieSelecionada];

                    racas.forEach(raca => {
                        const option = document.createElement('option');
                        option.textContent = raca;
                        option.value = raca;
                        if (raca === racaSelecionada) {
                            option.selected = true;
                        }
                        racaSelect.appendChild(option);
                        });
                }

                especieSelect.addEventListener('change', atualizarRacas);

                atualizarRacas();

                const estadoSelect = document.getElementById('estado');
                const cidadeSelect = document.getElementById('cidade');
                const cidadeSelecionada = "<%= dados.cidade %>";  

                function carregarCidades(uf) {
                    if (uf) {
                        fetch(`https://servicodados.ibge.gov.br/api/v1/localidades/estados/${uf}/distritos`)
                            .then(response => response.json())
                            .then(cidades => {
                                cidadeSelect.innerHTML = '<option value="">Selecione a cidade</option>';
                                cidades.forEach(cidade => {
                                    const option = document.createElement('option');
                                    option.textContent = cidade.nome;
                                    option.value = cidade.nome;

                                    
                                    if (cidade.nome === cidadeSelecionada) {
                                        option.selected = true;
                                    }
                                    cidadeSelect.appendChild(option);
                                });
                            })
                            .catch(error => console.error('Erro ao buscar cidades:', error));
                    }
                }

                estadoSelect.addEventListener('change', function() {
                    carregarCidades(this.value);
                });

                
                const estadoSelecionado = estadoSelect.value;
                if (estadoSelecionado) {
                    carregarCidades(estadoSelecionado);
                }
        </script>
                
        
<% }) %>
</body>
</html>