<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <%-include('layout/head') %>
</head>
<body>
    <%-include('layout/menu') %>
    <div style="position: relative; width: 100%; height: 380px; overflow: hidden; border: solid 0.5px;" >
      <img src="/images/f3.jpg" style="width: 100%; height: 100%; object-fit: cover;">
      <div class="position-absolute text-white text-end p-3" style="bottom: 20%; right: 5%;  ">
            <% if (logado == true && admin == false) { %>
              <br>
              <br>
              <br>
              <h1 style="text-shadow:2px 2px 0px black">Bem-vindo(a), <%= nome %>!</h1 >
              <h5 style="text-shadow:2px 2px 0px black">SafePet, o site que você precisa!</h5>
              <br>
              <a class="btn btn-dark" href="/adotar" style="width: 180px; border: solid 1px rgb(18, 18, 18);"><i style="vertical-align:bottom;" class="material-icons">pets</i> Adoção</a>
              <a class="btn btn-dark" href="/desaparecidos" style="width: 180px; border: solid 1px rgb(18, 18, 18);"><i style="vertical-align:bottom;" class="material-icons">handshake</i> Desaparecidos</a>
              <a class="btn btn-dark" href="" style="width: 180px; border: solid 1px rgb(18, 18, 18);"><i style="vertical-align:bottom;" class="material-icons">notification_important</i> Encontrados</a>
            <% }else if (logado == true && admin == true) { %>
              <br>
              <br>
              <br>
              <h1 style="text-shadow:2px 2px 0px black">Seja Bem-vindo(a)!</h1 >
              <h5 style="text-shadow:2px 2px 0px black">SafePet, o site que você precisa!</h5>
              <br>
              <a class="btn btn-dark" href="/adotar" style="width: 180px; border: solid 1px rgb(18, 18, 18);"><i style="vertical-align:bottom;" class="material-icons">pets</i> Adoção</a>
              <a class="btn btn-dark" href="/desaparecidos" style="width: 180px; border: solid 1px rgb(18, 18, 18);"><i style="vertical-align:bottom;" class="material-icons">handshake</i> Desaparecidos</a>
              <a class="btn btn-dark" href="" style="width: 180px; border: solid 1px rgb(18, 18, 18);"><i style="vertical-align:bottom;" class="material-icons">notification_important</i> Encontrados</a>
            <% } else { %>
              <br>
              <br>
              <br>
              <h1 style="text-shadow:2px 2px 0px black">Seja Bem-vindo(a)!</h1>
              <h5 style="text-shadow:2px 2px 0px black">SafePet o site que você precisa!</h5>
              <br>
              <br>
              <a class="btn btn-dark" href="/login" style="width: 180px; border: solid 1px rgb(18, 18, 18);"><i style="vertical-align:bottom;" class="material-icons">login</i>&nbsp; Login</a>
              <a class="btn btn-dark" href="/cadastro" style="width: 180px; border: solid 1px rgb(18, 18, 18);"><i style="vertical-align:bottom;" class="material-icons">person_add</i>&nbsp; Cadastre-se</a>
            <% } %>
      </div>
    </div>
    <div style="width: 69%; margin: 0 auto; text-align: center; font-size: 18px;  min-height: 100vh;">
      <br>
      <br>
      <% if (alerta) { %>
        <div class="alert alert-dark" role="alert"><%= alerta %></div>
      <%} else { %>
      <% } %>
      <br>
      <article>
          <h4 style="text-align: left;">Quem somos?</h4>
          <hr>
          <div style="text-align: justify; ">
            Somos uma plataforma comprometida em conectar animais desaparecidos e encontrados com seus tutores e novos lares de todo Brasil. 
            Nosso objetivo é simplificar e agilizar o processo de adoção, oferecendo um espaço onde animais possam ser reunidos 
            com suas famílias ou encontrar um novo lar seguro e amoroso. Valorizamos a transparência e a eficiência, e trabalhamos 
            com dedicação para ajudar cada animal a encontrar o caminho de volta para casa ou uma nova chance de vida. Juntos, com a 
            colaboração de nossa comunidade, buscamos fazer a diferença na vida de cada animal e tutor.
          </div>
      </article>
      <br>
      <br>
      <br>
      <article>
        <h4 style="text-align: left;">Deseja adotar um Pet?</h4>
        <hr>
        <div style="text-align: justify;">
          Se você está pensando em adotar um animal, estamos aqui para ajudar! Para iniciar o processo, por favor, visite nossa página de <a style="text-decoration: underline; color: black;" href="/adotar" ><Strong>adoção</Strong></a>. 
          Lá, você encontrará informações detalhadas sobre os animais disponíveis e a opção de entrar em contato com o anunciante. 
          Cada pet merece um lar amoroso portanto adote de forma conciente, e estamos aqui para tornar isso possível.
        </div>
      </article>
      <br>
      <br>
      <br>
      <article>
        <h4 style="text-align: left;">Deseja cadastrar um animal para adoção?</h4>
        <hr>
        <div style="text-align: justify;">
          Para cadastrar um animal para adoção em nosso site, é necessário estar registrado e logado. 
          Se você ainda não possui uma conta, faça seu <a style="text-decoration: underline; color: black;" href="/cadastro" ><Strong>registro</Strong></a> para criar um usuário. Após o login, 
          você terá acesso à área de cadastro em seu perfil, onde poderá fornecer informações detalhadas sobre o animal 
          que deseja colocar para adoção. 
          Lembre-se de que, após o cadastro, o animal passará por uma análise para verificar 
          se todos os critérios para a adoção estão atendidos. Nossa equipe avaliará as informações
          fornecidas para garantir que o animal possa ser incluído em nossa plataforma. 
        </div>
      </article>
      <br>
      <br>
      <br>
      <article>
        <h4 style="text-align: left;">Deseja cadastrar um animal desaparecido?</h4>
        <hr>
        <div style="text-align: justify;">
          Para cadastrar um animal desaparecido em nosso site, é necessário estar registrado e logado. 
          Se você ainda não possui uma conta, faça seu <a style="text-decoration: underline; color: black;" href="/cadastro" ><Strong>registro</Strong></a> para criar um usuário. Após o login, 
          você terá acesso à área de cadastro em seu perfil, onde poderá fornecer informações detalhadas sobre o animal 
          que deseja colocar como desaparecido. Lembre-se de que, após o cadastro, o animal passará por uma análise para verificar 
          se todos os critérios estão atendidos. Nossa equipe avaliará as informações fornecidas para garantir 
          que o animal possa ser incluído em nossa plataforma. 
        </div>
      </article>
      <br>
      <br>
      <br>
      <article>
        <h4 style="text-align: left;">Deseja cadastrar um animal encontrado?</h4>
        <hr>
        <div style="text-align: justify;">
          Para cadastrar um animal encontrado em nosso site, é necessário estar registrado e logado. 
          Se você ainda não possui uma conta, faça seu <a style="text-decoration: underline; color: black;" href="/cadastro" ><Strong>registro</Strong></a> para criar um usuário. Após o login, 
          você terá acesso à área de cadastro em seu perfil, onde poderá fornecer informações detalhadas sobre o animal 
          que deseja colocar como encontrado. Lembre-se de que, após o cadastro, o animal passará por uma análise para verificar 
          se todos os critérios estão atendidos. Nossa equipe avaliará as informações fornecidas para garantir 
          que o animal possa ser incluído em nossa plataforma. 
        </div>
      </article>
      </div>
    </div>
    <%-include('layout/footer') %>
</body>
</html>